.main-container {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/nf.webp");

  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: #fff;
}

.logo-section {
  position: absolute;
  top: 2%;
  left: 9%;
  height: 45px;
}
.logo-section img {
  height: 100%;
}

.login-card {
  background-color: rgba(0, 0, 0, 0.8);
  width: 28em;
  height: 45em;

  display: flex;
  flex-direction: column;
}
.login-card-info {
  padding: 10%;
}

.login-tittle h3 {
  font-size: 30px;
  font-weight: bold;
  height: 30px;
  margin-bottom: 20px;
}

.login-inputs {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid red;
  height: 300px;
}

.label-input {
  text-align: center;
  width: 80%;
  margin-bottom: 20px;
}
.login-inputs button {
  width: 80%;
  background-color: red;
  border: none;
  height: 80px;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
}

.login-inputs input {
  background-color: rgba(70, 90, 126, 0.4);
  border: 1px solid gray;
  border-radius: 5px;
  height: 50px;
  width: 100%;
}
.login-inputs button {
}

.label-input p {
  font-size: 14px;
  text-align: start;
  position: relative;
  bottom: 41px;
  transform: translateY(-50%);
  padding: 0 5px;
  color: lightgray;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 300px;
  background-color: rgba(0, 0, 0, 1);
}

.footer-unset {
  color: #fff;
  position: relative;
  bottom: 120px;
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.footer-component {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
}
