.navbar-container {
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 85%,
    transparent
  );
}

.navbar-menu {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
}

.navbar-logo {
  width: 80px;
  height: 30px;
}

.navbar-logo img {
  height: 100%;
}

.navbar-menu-items {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 80%;
}

.navbar-menu-items ul {
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.navbar-menu-items ul > li {
  list-style: none;
}

.navbar-menu-items ul > li > h4 {
  font-size: 15px;
  margin: 0;
}

.menu-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 9%;
  margin-right: 100px;
}
