@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/akira-expanded");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --text-color: #fff;
  --bg-content2: #f5b715;
}

/* CLASS CONFIGS */

.bg-yellow {
  background-color: var(--bg-content2);
}

.section-size {
  width: 100%;
  height: 400px;
}

.img-content {
  height: 400px;
}

.img-content img {
  width: 100%;
  height: 100%;
}

.base-card {
  text-align: start;
  width: 300px;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.8);
  float: left;
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 10%;
}
/* Navbar */

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 4em;
  padding-right: 4em;
  width: 100%;
  min-height: 100px;
  background-color: #000;
}
.navbar-container button {
  width: 50px;
}
.navbar-logo {
  max-width: 210px;
}
.navbar-logo img {
  width: 100%;
}
.menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-container ul {
  width: 50em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
}
.menu-container ul > li {
  text-transform: uppercase;
  color: var(--bg-content2);
}

.menu-container li > a {
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;

  color: var(--text-color);
}

.menu-container li > a:hover {
  transform: scaleX(1);
  transition: transform 5ms ease-in-out;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--bg-content2);
}
.menu-container a img {
  height: 30px;
}
.login-icon #icon-logout {
  display: none;
}
.logout-icon #icon-login {
  display: none;
}

/* OFF CANVAS */
.offcanvas {
  background-color: var(--bg-content2);
}
#offcanvasScrolling.offcanvas.offcanvas-start.show ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Main - SECTION 1  */

.section-one {
  background-image: url("../assets/bg1.png");
  background-repeat: repeat-x;
  background-size: cover;
  width: 100%;
}

.text-content-1 {
  text-align: justify;
  justify-content: flex-start;
  padding: 20px;
}

.text-content-1 h1 {
  font-family: "Akira Expanded", sans-serif;
  color: var(--text-color);
  font-size: 4rem;
  letter-spacing: 0.5vh;
}

.text-content-1 p {
  margin-top: 30px;
  font-size: 3em;
  padding-left: 1rem;
  letter-spacing: 1.1vh;
  color: var(--text-color);
  font-weight: bold;
}

/* Main - SECTION 2  */
.section-two {
  display: flex;
  flex-direction: column;
}

.image-content2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65%;
  background-color: var(--bg-content2);
}

.image-content2 img {
  max-height: 260px;
  height: auto;
  margin-right: 10em;
  margin-left: 1.5em;
  padding: 20px;
}

.spec-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.spec-text-content {
  text-align: center;
  margin-right: 7em;
  width: 300px;
}

.spec-text-content h3 {
  font-family: "Akira Expanded", sans-serif;
}

#text-content-2 {
  position: absolute;
}

#text-content-2 h1 {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  font-size: 15em;
  letter-spacing: 0.5em;
}

/* Main - SECTION 3  */

.section-three {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
}

.text-content-3 {
  width: 50%;
  height: 100%;
  margin-right: 8em;
  margin-top: 2em;
}

.text-content-3 h1 {
  color: var(--text-color);
  text-transform: uppercase;
  font-family: "Akira Expanded", sans-serif;
  font-size: 4em;
  letter-spacing: 0.1em;
  margin: 0;
}

.text-content-3 p {
  width: 27em;
  color: var(--text-color);
}

/* Main - SECTION 4  */

.section-four {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #000;
}

.text-content-4 {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.text-content-4 h1 {
  margin: 0;
  color: var(--text-color);
  text-transform: uppercase;
  font-family: "Akira Expanded", sans-serif;
  font-size: 1.7em;
}

.text-content-4 h3 {
  width: max-content;
  margin-left: 20.2em;
  color: var(--text-color);
  text-transform: uppercase;
}
.text-content-4 p {
  text-align: end;
  width: 800px;
  margin-top: 20px;
  padding-right: 10px;
  color: var(--text-color);
  letter-spacing: 0.1em;
}

/* Main - SECTION 5  */

.section-five {
  display: flex;
  flex-direction: column-reverse;
}

.text-content-5 {
  width: 100%;
  height: 50%;
  padding: 10px;
}

.text-content-5 h1 {
  margin-bottom: 0;
  color: #000;
  text-transform: uppercase;
  font-family: "Akira Expanded", sans-serif;
  font-size: 2.5em;
}

.text-content-5 p {
  margin: 0;
  font-weight: bold;

  font-size: 1em;
}
.text-content-5 span {
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(229, 182, 49);
}
/* SECTION-6  */

.section-six {
  display: flex;
  flex-direction: column-reverse;
}

.section-six img {
  height: 100%;
}

.text-content-6 {
  margin-bottom: 0;
  width: 100%;
  height: 50%;
  padding: 10px;
}

.text-content-6 h1 {
  color: #000;
  text-transform: uppercase;
  font-family: "Akira Expanded", sans-serif;
  font-size: 2.3em;
}

.text-content-6 p {
  font-weight: bold;
  font-size: 1em;
}
.text-content-6 span {
  font-size: 1em;
  font-weight: bold;
  color: rgb(229, 182, 49);
}

.section-seven {
  display: flex;
  flex-direction: column-reverse;
}

.section-seven img {
  height: 100%;
}

.text-content-7 {
  margin-bottom: 0;

  width: 100%;
  height: 50%;
  padding: 10px;
}

.text-content-7 h1 {
  color: #000;
  text-transform: uppercase;
  font-family: "Akira Expanded", sans-serif;
  font-size: 2.3em;
}

.text-content-7 p {
  margin-bottom: 0;

  font-weight: bold;

  font-size: 1em;
}
.text-content-7 span {
  font-size: 1em;
  font-weight: bold;
  color: rgb(229, 182, 49);
}

.main-content8 {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f5b715;
  width: 100%;
  height: 400px;
}
.text-content-8 {
  display: flex;
  justify-content: space-between;
}

.text-content-8 h1 {
  position: absolute;
  left: 1%;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  font-family: "Akira Expanded", sans-serif;
  font-size: 7.5em;
  z-index: 3;
}

.content-card {
  width: 100%;
  margin-top: 20px;
  display: flex;
}

.card-info-container {
  padding: 30px;
}

@media (min-width: 425px) {
  .text-content-4 {
    padding: 50px;
  }
}
/* @media (min-width: 590px) {
  .text-content-1 p {
    width: 70%;
  }
  .section-size {
    width: 100%;
    height: 600px;
  }

  .section-two {
    display: none;
  }
  .navbar-container {
    flex-direction: row;
    padding: 20px;
  }
  .navbar-logo {
    width: 50%;
  }
  .navbar-logo img {
    width: 100%;
    height: auto;
  }
  .section-three {
    flex-direction: column-reverse;
  }
  .text-content-3 h1 {
    color: var(--text-color);
    text-transform: uppercase;
    font-family: "Akira Expanded", sans-serif;
    font-size: 1.7em;
  }

  .text-content-3 p {
    color: var(--text-color);
    width: 280px;
    font-size: 1em;
  }

  .section-four {
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: space-evenly;
  }

  .text-content-4 h3 {
    margin: 0;
    font-size: 0.95em;
  }

  .text-content-4 p {
    text-align: start;
    color: var(--text-color);
    margin-left: 0;
    width: 300px;
    font-size: 0.9em;
  }
} */
@media (max-width: 425px) {
  .text-content-1 p {
    width: 70%;
  }
  .section-size {
    width: 100%;
    height: 600px;
  }

  .section-two {
    display: none;
  }
  .navbar-container {
    flex-direction: row;
    padding: 20px;
  }
  .navbar-logo {
    width: 50%;
  }
  .navbar-logo img {
    width: 100%;
    height: auto;
  }
  .section-three {
    flex-direction: column-reverse;
  }
  .text-content-3 h1 {
    color: var(--text-color);
    text-transform: uppercase;
    font-family: "Akira Expanded", sans-serif;
    font-size: 1.7em;
  }

  .text-content-3 p {
    color: var(--text-color);
    width: 280px;
    font-size: 1em;
  }

  .section-four {
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: space-evenly;
  }

  .text-content-4 h3 {
    margin: 0;
    font-size: 0.95em;
  }

  .text-content-4 p {
    text-align: start;
    color: var(--text-color);
    margin-left: 0;
    width: 300px;
    font-size: 0.9em;
  }
}

@media (min-width: 768px) {
  .section-size {
    height: 350px;
  }
  .img-content {
    width: 50%;
    height: 350px;
  }
  .image-content2 img {
    height: 10em;
    margin-right: 5em;
  }
  #text-content-2 {
    position: absolute;
  }

  #text-content-2 h1 {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    margin-left: 3.7%;
    font-size: 8em;
    letter-spacing: 0.5em;
  }
  .spec-text {
    height: 50%;
  }
  .spec-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    height: 150px;
  }

  .text-content-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding-top: 20px;

    width: 50%;
  }
  .text-content-3 h1 {
    font-size: 2em;
  }
  .text-content-3 p {
    color: var(--text-color);
    width: 350px;

    font-size: 0.9em;
  }
  .text-content-4 {
    margin: 0;

    width: 50%;
  }
  .text-content-4 h1 {
    position: relative;
    left: 20%;
    font-size: 4em;
  }
  .text-content-4 h3 {
    margin: 0;
    position: relative;
    left: 20%;
    font-size: 1em;
  }
  .text-content-4 p {
    position: relative;
    left: 20%;
    text-align: start;
    color: var(--text-color);
    margin-left: 0;
    width: 500px;
    font-size: 0.9em;
  }
  .section-five {
    margin: 0;
    width: 100%;
    flex-direction: row;
  }
  .section-five .img-content {
    width: 50%;
  }
  .section-five .text-content-5 {
    width: 50%;
    padding-left: 30px;
  }
  .section-six {
    margin: 0;
    width: 100%;
    flex-direction: row-reverse;
  }
  .section-six .img-content {
    width: 50%;
  }
  .section-six .text-content-6 {
    width: 50%;
    padding-left: 30px;
  }
  .section-seven {
    margin: 0;
    width: 100%;
    flex-direction: row;
  }
  .section-seven .img-content {
    width: 50%;
  }
  .section-seven .text-content-7 {
    width: 50%;
    padding-left: 30px;
  }
}

@media (min-width: 992px) {
  .menu-container {
    flex-direction: row;
    justify-content: end;
  }
}

@media (min-width: 1024px) {
  .image-content2 {
    width: 100%;
    justify-content: space-around;
  }
  .image-content2 img {
    height: 10em;
  }
}

@media (min-width: 1200px) {
  #offcanvasScrolling.offcanvas.offcanvas-start.show ul {
    display: flex;
    flex-direction: column;
  }
  .navbar-container button {
    display: none;
  }
}

@media (min-width: 1400px) {
  .section-size {
    height: 400px;
  }

  .img-content {
    width: 50%;
    height: 400px;
  }
  .section-two {
    display: block;
  }

  .text-content-1 h1 {
    margin-left: 15%;
    font-size: 11em;
  }
  .text-content-1 p {
    margin-left: 15%;
    font-size: 2em;
    padding: 0;
  }
  .image-content2 img {
    height: 20em;
  }
  #text-content-2 {
    position: absolute;
  }

  #text-content-2 h1 {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    margin-left: 3.7%;
    font-size: 14em;
    letter-spacing: 0.5em;
  }
  .spec-text {
    height: fit-content;
  }
  .spec-text-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
  }

  .text-content-3 {
    width: 50%;
  }

  .text-content-3 h1 {
    font-size: 4em;
  }
  .text-content-3 p {
    margin: 0;
    text-align: left;
    color: var(--text-color);
    width: 500px;
    font-size: 1.2em;
  }

  .text-content-4 {
    margin: 0;

    width: 50%;
  }
  .text-content-4 h1 {
    position: relative;
    left: 40%;
    font-size: 6em;
  }
  .text-content-4 h3 {
    margin: 0;
    position: relative;
    left: 28%;
    font-size: 2em;
  }
  .text-content-4 p {
    position: relative;
    left: 28%;
    text-align: end;
    color: var(--text-color);
    margin-left: 0;
    width: 600px;
    font-size: 1.2em;
  }

  .section-five {
    margin: 0;
    width: 100%;
    flex-direction: row;
  }
  .section-five .img-content {
    width: 50%;
  }
  .section-five .text-content-5 {
    width: 50%;
    text-align: start;
    padding-left: 120px;
  }
  .text-content-5 h1 {
    font-size: 5em;
  }
  .text-content-5 p {
    font-size: 1.2em;
  }
  .text-content-5 span {
    font-size: 1.2em;
  }

  .section-six {
    margin: 0;
    width: 100%;
    flex-direction: row-reverse;
  }
  .section-six .img-content {
    width: 50%;
  }
  .section-six .text-content-6 {
    width: 50%;
    text-align: end;
    padding-right: 120px;
  }
  .text-content-6 h1 {
    font-size: 5em;
  }
  .text-content-6 p {
    font-size: 1.2em;
  }
  .text-content-6 span {
    font-size: 1.2em;
  }

  .section-seven {
    margin: 0;
    width: 100%;
    flex-direction: row;
  }
  .section-seven .img-content {
    width: 50%;
  }
  .section-seven .text-content-7 {
    width: 50%;
    text-align: start;
    padding-left: 120px;
  }
  .text-content-7 h1 {
    font-size: 5em;
  }
  .text-content-7 p {
    font-size: 1.2em;
  }
  .text-content-7 span {
    font-size: 1.2em;
  }
}

@media (min-width: 1700px) {
  .text-content-8 h1 {
    position: absolute;
    left: 1%;
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    font-family: "Akira Expanded", sans-serif;
    font-size: 11em;
    letter-spacing: 0.26em;
    z-index: 3;
  }
}
